---
---

@import "{{ site.theme }}";

.page-header {
	background-image: url(/assets/robotics1.jpg), url(/assets/robotics2.jpg), url(/assets/robotics3.jpg);
	background-repeat: no-repeat;
	background-position: top right, top left, center;
	
}

.btn {
	color: white; 
	background-color: rgba(59, 68, 74, 0.4);
}

.btn:hover{
	background-color: rgba(33, 36, 38, 0.6)
}

body{
line-height: 1.6;

}
